{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="container col-xxl-8 px-4 py-5">
    
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <h1 class="my-4"> All News</h1>
      <hr>
      {% for news in newsdata %}
          <div class="col-10 col-sm-8 col-lg-6">
          
              <h6 class="display-5 fw-bold text-body-emphasis lh-1 mb-3"><a href="{% url 'details' news.id %}" class="text-dark"style=text-decoration:none; >{{ news.title}}</a></h6>
            
              
              



          </div>      
          <div class="col-10 col-sm-8 col-lg-6">
            <img  src="/static/{{ news.image }}" width="200" height="150" >

          </div>
          
          <hr>
      {% endfor %}
    </div>
</div>
{% endblock %}